/**
* Variable file 
* place global variables here:
* 
*/


$font-stack:Helvetica, sans-serif;
$head-stack:Georgia, serif;

$black:#444;
$white:#fff;

$bgcolor:#f8f8f8;
$font-color:#46484a;


$primaryColor:#e3c28f;
$secondaryColor:#739b75;
$tertiaryColor:#46484a;