/**
* Header CSS file 
* Styling for the header:
* 
*/

header{
	width:100%;
	padding:20px 0;
	background:#fff;
	border-bottom:2px solid #eeeeee;
	position:fixed;
	top:0;
	left:0;
	z-index:200;

	.logo{
		float:left;
		width:auto;
		padding:0;
		text-decoration:none;

		h1{
			font-size:32px;
		}
	}


	ul{
		margin:0;
		padding:0;
		list-style:none;


		li{ display:inline-block;}

		a{
			display:block;
			padding:12px 20px;
			text-decoration:none;
		}

		a:hover{
			color:#e897c2;
		}
	}


	/**
	 * Mobile:
	 */
	.mobile-nav{
		position:absolute;
		right:15px;
		display:block;
		width:290px;
		ul{
			width:100%;
			li{
				display:block;
			}
		}
	}

	.menu-switch{
		width:44px;
		height:44px;
		padding-top:8px;
		text-align:center;
		background:#444;
		border-radius:4px;
		cursor:pointer;
		float:right;

		i{
			font-size:rem( 24px );
			color:#fff;
		}

		&:hover{
			background:rgba( 0,0,0, .25 );
		}
	}
}


#main{
	margin-top:108px; //account for sticky menu
	padding-bottom:100px; //sticky footer
}